{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{with .CocktailSet}}
	<!-- Page Content -->
	<h2></h2>
	<p>{{template "cocktailpageheader" .}}</p>
	<p>{{template "cocktailimage" .}}</p>
	<h2></h2>
	<p style="font-weight:700;">Cocktail Description</p>
	<p itemprop="description">{{.Cocktail.Description}}</p>
	<p style="font-weight:700;">Cocktail Details</p>
	<p>{{template "cocktailrecipeblock" .}}</p>
	<p style="font-weight:700;">Method</p>
	{{with .Cocktail.Recipe}}
	<p itemprop="recipeInstructions">{{.Method}}</p>{{end}}</td>
	{{end}}
</body>

</html>
{{end}}

<!--Cocktail Page Header-->
{{define "cocktailpageheader"}}
<p style="font-weight:700;" itemprop="name" align="center">{{.Cocktail.Name}}</p>
{{end}}

<!--Cocktail Image-->
{{define "cocktailimage"}}
<div style="text-indent:0;text-align:center;margin-right:auto;margin-left:auto;width:99%;page-break-before:auto;page-break-inside:avoid;page-break-after:auto;">
	<div style="margin-left:0;margin-right:0;text-align:center;text-indent:0;width:100%;">
		<p style="display:inline-block;text-indent:0;width:100%;">
	{{if .Cocktail.Image}} {{if .Cocktail.ImagePath}}
	<img style="width:99%;" src="{{.Cocktail.ImagePath}}/{{.Cocktail.Image}}" alt="{{.Cocktail.Name}}"/> {{else}}
	<img style="width:99%;" src="images/{{.Cocktail.Image}}" alt="{{.Cocktail.Name}}"/> {{end}} {{else}}
	<img style="width:99%;" src="https://placehold.it/600x600"/> {{end}}
		</p>
	</div>
</div>
{{end}}

<!--Coctail Recipe Block-->
{{define "cocktailrecipeblock"}}
<meta itemprop="prepTime" content="PT02M0S" />
<meta itemprop="totalTime" content="PT02M0S" /> {{with .Cocktail.Recipe}}
<table>
{{range .RecipeSteps}}
<tr>
	{{if .RecipeCardinalString}}
	<td valign="top" style="white-space: nowrap;">{{.RecipeCardinalString}}</td>
	{{else}}
	<td valign="top" style="white-space: nowrap;">&nbsp;</td>
	{{end}}
	<td valign="top" width="10">&nbsp;</td>
	<td valign="top" style="white-space: nowrap;">{{.RecipeDoze}}</td>
	<td valign="top" width="10">&nbsp;</td>
	<td valign="top">
		<div class="iconlink">
			{{if .AdIngredient.ProductName}}
				{{if .AdIngredient.PreText}}
				{{.AdIngredient.PreText}}&nbsp; 
				{{end}} 
				{{.AdIngredient.ProductName}}&nbsp;{{.AdIngredient.PostText}} </a>
			{{else}}
				{{if .OriginalIngredient.PreText}}
				{{.OriginalIngredient.PreText}}&nbsp; 
				{{end}} 
				{{.OriginalIngredient.ProductName}}&nbsp;{{.OriginalIngredient.PostText}}
			{{end}}
		</div>
	</td>
	<meta itemprop="recipeIngredient" content="{{if .RecipeCardinalString}}{{.RecipeCardinalString}} {{end}}{{.RecipeDoze}} {{if .OriginalIngredient.PreText}}{{.OriginalIngredient.PreText}} {{end}}{{.OriginalIngredient.ProductName}} {{.OriginalIngredient.PostText}}"
	/>
</tr>
{{end}} 
</table>
{{end}} 
{{end}}

<!--Derived Cocktails-->
{{define "derivedcocktails"}}
<h2>Derived Cocktails</h2>
{{range .ChildCocktails}}
	<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.Name}}</span>
{{end}} 
{{end}}
