{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

    {{template "head" .}}

</head>

<body>
    <h1 style="font-family: 'Poiret One';" align="center">Commonwealth Cocktails</h1>
    <a href="/cocktail?cocktailID=40&view=book">Bacardia</a><br><br>
    <a href="/cocktail?cocktailID=1&view=book">Jamaican Quaalude</a><br><br>
    <a href="/post?ID=7&view=book">Welcome</a><br><br>
    <a href="/post?ID=1&view=book">Drinkware</a><br><br>
    <!-- Footer -->
    {{template "footer" .}}

</body>

</html>
{{end}}