{{define "head"}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Green Hat Gin Cocktails</title>

<!-- Custom Fonts -->
<link href="/{{$.View}}/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<style type="text/css">
body {font-family: Arial; letter-spacing: 0; line-height: 1em; font-size: .9em;}
p {padding: 1px;margin: 1px;}
td {padding: 1px;margin: 1px;}
table {border-spacing: 0; border-collapse: collapse;}
img {display: block; margin: 5px auto; text-align:center;}
hr {page-break-after:always;}
h1 {line-height:1em; padding: 1px;margin: 1px;}
h1,h2,h3 {page-break-after:avoid; padding: 1px;margin: 1px;}
.large {font-size:200%; font-weight:bold;}
.medium {font-size:130%;}
.center {text-align:center;}
</style>
{{end}}