bin/
pkg
src/github.com/*
!src/github.com/CommonwealthCocktails/

src/github.com/CommonwealthCocktails/sql/*.db
src/github.com/CommonwealthCocktails/sql/*sqlite*

src/cloud.google.com
src/golang.org
src/google.golang.org
pkg/*
sensitive.config
!pkg/.gitkeep
