{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

    {{template "head" .}}

</head>

<body>
	
{{template "navbar" .}}

    <div class="container">

		<div class="row">
			<div class="page-header">
				<h1 align="center">About Us</h1>
			</div>
			<div class="col-md-12">
				<div class="row">
				    <div class="col-md-2"></div>
				    <div class="col-md-8">
				    <p>
				    <img class="img-responsive" src="https://static1.squarespace.com/static/5398d9e5e4b0607e19473805/5422ee47e4b0c0706fb2331c/5422f961e4b02d89aa032703/1411578225056/_24A9729.jpg"  alt="_24A9729.jpg"  />
				    </p>
				    <p>&nbsp;</p>
				    <p style="font-family: 'Arvo',serif;">The revelation of a distinct and wonderful whisky that uses fruit wood peat came to me in years prior, as I visited a slew of American distilleries in the hopes of opening my own. By spring of 2000, I made the journey to Scotland, home of over 130 distilleries and arguably the best whisky in the world. I came away with a great appreciation of the necessary skill, a reinforced conviction, and an offer to intern at Bowmore Distillery on Islay, one of the few distilleries in the world that still malts their own barley. Three years later, Copper Fox Whisky was launched into the marketplace as the first applewood aged whisky in the world. Our distillery in Sperryville opened in January of 2005.</p>
                    <p>&nbsp;</p>
                    <p style="font-family: 'Arvo',serif;">"Our spirits at Copper Fox Distillery focus on the flavoring of the malt using the smoke of selected, smoldering fruit woods, and hand-cut, toasted fruit wood that add a range of natural flavors in the maturation process.</p>
                    <p>&nbsp;</p>
                    <p style="font-family: 'Arvo',serif;">Our seed of an idea had grown to finally bear its first sweet fruit. As I wrote some years ago, “At Copper Fox, we have a particular passion for whisky.” The story continues— I hope you can be a part of it by raising a glass every now and then and sharing our passion with your friends!"</p>
					<p>&nbsp;</p>
                    <p style="font-family: 'Arvo',serif;">Cheers!</p>
					<p>&nbsp;</p>
                    <p style="font-family: 'Arvo',serif;">-Rick Wasmund</p>
                    </div>
                    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</div>

	<hr style="border-color: #FFF;">
	<!-- Footer -->
    {{template "footer" .}}
	
	
</body>

</html>
{{end}}
