{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{$page := .}}
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=440301159683076";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	
	{{template "navbar" .}}
	{{with .CocktailSet}}
	<!-- Page Content -->
	<div itemscope itemtype="http://schema.org/Recipe" class="container">
		<div class="page-header">
			{{template "cocktailpageheader" $}}
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-0 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{template "cocktailimage" .}}
					</div>
					<div class="col-xs-0 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" align="center">
						{{template "cocktaillinkbar" $}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Cocktail Description</h3>
						<meta itemprop="description" content="{{.Cocktail.Description}}">
						<p itemprop="description">{{.Cocktail.Description}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Cocktail Details</h3>
						<div class="row">
							<div class="col-xs-12">
								<table align="left" border="0" cellpadding="1" cellspacing="1">
									<tbody>
										{{template "cocktailrecipeblock" $}}
									</tbody>
								</table>
							</div>
						</div>
						<hr style="border-color: #FFF;">
						<div class="row">
							<div class="col-xs-1">
								&nbsp;
							</div>
							<div class="col-xs-10">
								{{template "ingredientslickcarousel" $}}
							</div>
							<div class="col-xs-1">
								&nbsp;
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Method</h3>
						{{with .Cocktail.Recipe}}<p itemprop="recipeInstructions">{{.Method}}</p>{{end}}
					</div>
				</div>
				{{if .ChildCocktails}}
				<div class="row">
					<div class="col-md-12">
						{{template "derivedcocktails" $}}
					</div>
				</div>
				{{end}}
				<div class="row">
					<div class="col-md-12">
						{{template "alternativeingredients" $}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{template "garnishbuttons" $}}
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{template "drinkwarebuttons" $}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{template "toolsbuttons" $}}
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{if .Cocktail.Comment}}
						<h3>Comment</h3>
						{{.Cocktail.Comment}} {{end}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{if .Cocktail.Origin}}
						<h3>Cocktail Origin</h3>
						{{.Cocktail.Origin}} {{end}}
					</div>
				</div>
				<div class="row">
					<div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Cocktail Metadata</h3>
					</div>
					<div class="row">
						<div class="row">
							<div class="col-sm-6 col-xs-12 clearfix x-recipe-terms recipe-link">
								<div class="row">
									{{template "flavorbuttons" $}}
								</div>
								<div class="row">
									{{template "basespiritbuttons" $}}
								</div>
								<div class="row">
									{{template "typebuttons" $}}
								</div>
								<div class="row">
									{{template "servedbuttons" $}}
								</div>
								<div class="row">
									{{template "techniquebuttons" $}}
								</div>
								<div class="row">
									{{template "stylebuttons" $}}
								</div>
							</div>
							<div class="col-sm-6 col-xs-12 clearfix">
								<div class="row">
									{{template "strengthbuttons" $}}
								</div>
								<div class="row">
									{{template "difficultybuttons" $}}
								</div>
								<div class="row">
									{{template "todbuttons" $}}
								</div>
								<div class="row">
									{{template "ratiobuttons" $}}
								</div>
								<div class="row">
									{{template "familybuttons" $}}
								</div>
								<div class="row">
									{{template "occasionbuttons" $}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						{{template "footnotes" $}}
					</div>
				</div>
			</div>
			<!--<div class="col-md-1">-->
			<!--</div>-->
			<hr style="border-color: #FFF;">
			<div class="col-md-4">
				<div class="row">
					<div class="col-xs-12 text-center no-wrap" style="color:gray" align="center">
						<div class="row">
							{{template "cocktailVideo" $}}
						</div>
					</div>
				</div>
				<hr style="border-color: #FFF;">
				<div class="row">
					<div class="col-xs-12 text-center no-wrap" style="color:gray" align="center">
						<div class="row">
							<div style="width: 100%; height: 10px; border-bottom: 1px solid #EEEEEE; text-align: center">
								<span style="font-size: 16px; background-color: white; padding: 0 10px;">Related Cocktails<!--Related Cocktails Padding is optional--></span>
						</div>
						<hr style="border-color: #FFF;">
						<div class="row" style="margin: auto;">
								{{template "relatedCocktails" $}}
							</div>
						</div>
					</div>
				</div>
				<hr style="border-color: #FFF;">
				<div class="row">
					<div class="col-xs-12 text-center no-wrap" style="color:gray" align="center">
						<div class="row">
							<div style="width: 100%; height: 10px; border-bottom: 1px solid #EEEEEE; text-align: center">
								<span style="font-size: 16px; background-color: white; padding: 0 10px;">Related Posts<!--Related Posts Padding is optional--></span>
						</div>
						<hr style="border-color: #FFF;">
						<div class="row" style="margin: auto;">
								&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
	{{end}}
	
	{{template "cocktailadminsocialbar" .}}

	{{template "footer" .}}

	<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
	
	</body>

</html>
{{end}}

<!--Cocktail Page Header-->
{{define "cocktailpageheader"}}
{{with .CocktailSet}}
<h1 align="center">{{.Cocktail.Name}}</h1>
{{if gt .Cocktail.Top100Index 0}}
<a href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailTop100" style="color : #555;">
<h5 align="center">#{{.Cocktail.Top100Index}} in Top 100</h5>
</a>
{{end}}
<meta itemprop="name" content="{{.Cocktail.Name}} from Commonwealth Cocktails" />
<meta itemprop="headline" content="{{.Cocktail.Name}} from Commonwealth Cocktails" />
{{if .Cocktail.AKA}}
<h6 align="center">{{range .Cocktail.AKA}}({{.Name}}){{end}}</h6>{{end}}
<h5 align="center" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
	<div class='starrr' id='star{{.Cocktail.ID}}'></div>
				<script>
					$('#star{{.Cocktail.ID}}').starrr({
						max: 5,
						readOnly: true,
						rating: {{.Cocktail.Rating}}
					});
				</script>
	<meta itemprop="ratingValue" content="{{.Cocktail.Rating}}" />
	<meta itemprop="ratingCount" content="1" />
</h5>
<h6 align="center">Original Source: <a title="Go to {{.Cocktail.SourceName}}" target="_blank" href="{{.Cocktail.SourceLink}}" style="text-decoration : none; color : #555;">{{.Cocktail.SourceName}}  <i class="fa fa-external-link"></i></a></h6>
<meta itemprop="author" content="{{.Cocktail.SourceName}}" />
{{if .RootCocktail.Name}}
<a href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktail/{{.RootCocktail.ID}}" style="text-decoration : none; color : #555;">
	<h6 align="center">Root Cocktail:&nbsp;{{.RootCocktail.Name}}</h6>
</a>{{end}}
{{end}}
{{end}}

<!--Cocktail Image-->
{{define "cocktailimage"}}
<div align="center" style="position: relative; width: 100%;">
	{{if .Cocktail.Image}} {{if .Cocktail.ImagePath}}
	<img class="img-responsive" src="{{.Cocktail.ImagePath}}/{{.Cocktail.Image}}" alt="{{sanitize .Cocktail.Name}} from Commonwealth Cocktails - ({{.Cocktail.Keywords}})" itemprop="image"/> 
	<meta itemprop="image" content="{{.Cocktail.ImagePath}}/{{.Cocktail.Image}}"></meta>
	{{else}}
	<img class="img-responsive" src="images/{{.Cocktail.Image}}" alt="{{sanitize .Cocktail.Name}} from Commonwealth Cocktails - ({{.Cocktail.Keywords}})" itemprop="image"/> 
	<meta itemprop="image" content="images/{{.Cocktail.Image}}"></meta>
	{{end}} {{else}}
	<img class="img-responsive" style="max-height:150px" src="https://placehold.it/600x600" alt="{{sanitize .Cocktail.Name}} from Commonwealth Cocktails - ({{.Cocktail.Keywords}})" itemprop="image"/> 
	<meta itemprop="image" content="https://placehold.it/600x600"></meta>
	{{end}}
	<h6 align="center" style="color: #555; background: rgba(0, 0, 0, 0.0); width: 100%;">Source: 
		<a target="_blank" style="text-decoration : none; color : #555;" href="{{.Cocktail.ImageSourceLink}}">{{.Cocktail.ImageSourceName}}  
			<i class="fa fa-external-link"></i>
		</a>
	</h6>
</div>
{{end}}

<!--Cocktail Link Bar-->
{{define "cocktaillinkbar"}}
{{with .CocktailSet}}
<a class="fb-share-button btn btn-default btn-sm" style="display: inline-block;" data-href="{{$.BaseURL}}/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktail/{{.Cocktail.ID}}" data-layout="button" data-size="small" data-mobile-iframe="true" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{$.BaseURL}}%2F{{$.View}}{{if ne $.Locale ""}}%2F{{$.Locale}}{{end}}%2Fcocktail%2F{{.Cocktail.ID}}&amp;src=sdkpreparse">
	<i class="fa fa-facebook"></i>
</a>
<!--<a target="_blank" href="https://www.facebook.com/commonwealthcocktail" class="btn btn-default btn-sm" title="Facebook">-->
	<!--<i class="fa fa-facebook"></i>-->
<!--</a>-->
<!--</div>-->
<a target="_blank" href="https://github.com/RoughIndustries/com.roughindustries.cocktails_go" class="btn btn-default btn-sm" title="GitHub">
	<i class="fa fa-github"></i>
</a>
<!--<a href="#" class="btn btn-default btn-sm" title="Google Plus">-->
<!--	<i class="fa fa-google-plus"></i>-->
<!--</a>-->

<a target="_blank" class="twitter-share-button btn btn-default btn-sm" data-dnt="true"
href="https://twitter.com/intent/tweet?text=The {{.Cocktail.Title}}&url={{$.BaseURL}}%2F{{$.View}}{{if ne $.Locale ""}}%2F{{$.Locale}}{{end}}%2Fcocktail%2F{{.Cocktail.ID}}&hashtags=commonwealthcocktails,cocktails&via=CommonCocktails">
	<i style="color: black;" class="fa fa-twitter"></i>
</a>

<!--<a href="mailto:someone@example.com?subject=Great Cocktail from Commonwealth Cocktails&body=Hi,I found this website and thought you might like it {{$.BaseURL}}/" class="btn btn-default btn-sm" title="Email">-->
<!--	<i class="fa fa-envelope"></i>-->
<!--</a>-->

<a class="btn btn-default btn-sm" data-pin-do="buttonPin" data-pin-custom="true" href="https://www.pinterest.com/pin/create/button/?url={{$.BaseURL}}%2F{{$.View}}{{if ne $.Locale ""}}%2F{{$.Locale}}{{end}}%2Fcocktail%2F{{.Cocktail.ID}}&media=&description=">
	<i style="color: black;" class="fa fa-pinterest"></i>
</a>
{{end}}
{{end}}

<!--Coctail Recipe Block-->
{{define "cocktailrecipeblock"}}
<meta itemprop="prepTime" content="PT02M0S" />
<meta itemprop="totalTime" content="PT02M0S" />
{{with .CocktailSet}}
{{with .Cocktail.Recipe}} {{range .RecipeSteps}}
<tr>
	{{if .RecipeCardinalString}}
	<td style="white-space: nowrap;">{{.RecipeCardinalString}}</td>
	{{else}}
	<td style="white-space: nowrap;">&nbsp;</td>
	{{end}}
	<td width="10">&nbsp;</td>
	<td style="white-space: nowrap;">{{.RecipeDoze}}</td>
	<td width="10">&nbsp;</td>
	<td>
		<div class="iconlink">
			{{if .AdIngredient.ProductName}}
			<a href='/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.AdIngredient.ID}}' style="text-decoration : none; color : #000;">
				{{if .AdIngredient.PreText}}
				{{.AdIngredient.PreText}}&nbsp; 
				{{end}} 
				{{.AdIngredient.ProductName}}&nbsp;{{.AdIngredient.PostText}} </a>
			</a> {{else}}
			<a href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.OriginalIngredient.ID}}" style="text-decoration : none; color : #000;">
				{{if .OriginalIngredient.PreText}}
				{{.OriginalIngredient.PreText}}&nbsp; 
				{{end}} 
				{{.OriginalIngredient.ProductName}}&nbsp;{{.OriginalIngredient.PostText}}
			</a> 
			<a title="Related Cocktails" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByIngredientID/{{.OriginalIngredient.ID}}">
				<i style="display: table-cell; font-size: 0.73em; color: black; vertical-align: middle;" class="fa fa-glass"></i>
			</a>
			&nbsp;
			{{if .OriginalIngredient.AmazonLink}}{{if showAffiliateLinks}}
				<a title="Recommend Product" target="_blank" href="{{.OriginalIngredient.AmazonLink}}">
					<i style="display: table-cell; font-size: 0.73em; color: black; vertical-align: middle;" class="fa fa-amazon"></i>
				</a>
			{{end}}{{end}}
			{{end}}
		</div>
	</td>
	<meta itemprop="recipeIngredient" content="{{if .RecipeCardinalString}}{{.RecipeCardinalString}} {{end}}{{.RecipeDoze}} {{if .OriginalIngredient.PreText}}{{.OriginalIngredient.PreText}} {{end}}{{.OriginalIngredient.ProductName}} {{.OriginalIngredient.PostText}}" />
</tr>
{{end}} {{end}}
{{end}} {{end}}

<!--Ingredient Slick Carousel-->
{{define "ingredientslickcarousel"}}
{{with .CocktailSet}}
<section class="regular slider">
{{with .Cocktail.Recipe}} {{range .RecipeSteps}} {{if .AdIngredient.ProductName}}
<div>
	<a href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.AdIngredient.ID}}" style="text-decoration : none; color : #000;">
		{{if .AdIngredient.ImagePath}}
		<img border="0" class="img-responsive" alt="{{.OriginalIngredient.ProductName}}, {{.AdIngredient.ProductName}}" src="{{.AdIngredient.ImagePath}}/{{.AdIngredient.Image}}">
		{{else}}
		<img border="0" class="img-responsive" alt="{{.OriginalIngredient.ProductName}}, {{.AdIngredient.ProductName}}" src="images/{{.AdIngredient.Image}}">
		{{end}}
	</a>
</div>
{{else}}
<div>
	<a href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.OriginalIngredient.ID}}" style="text-decoration : none; color : #000;">
		{{if .OriginalIngredient.Image}} {{if .OriginalIngredient.ImagePath}}
		<img border="0" class="img-responsive" alt="{{.OriginalIngredient.ProductName}}" src="{{.OriginalIngredient.ImagePath}}/{{.OriginalIngredient.Image}}">
		{{else}}
		<img border="0" class="img-responsive" alt="{{.OriginalIngredient.ProductName}}" src="images/{{.OriginalIngredient.Image}}">
		{{end}}	{{else}}
		<img border="0" class="img-responsive" alt="{{.OriginalIngredient.ProductName}}" src="https://placeholdit.imgix.net/~text?&bg=ffffff&txtclr=000000&txtsize=160&txt={{.OriginalIngredient.ProductName}}&w=1200&h=900&txttrack=0">
		<!--<img border="0" class="img-responsive" src="https://placehold.it/900x1200"> -->
		{{end}}
	</a>
</div>
{{end}} {{end}}{{end}}
</section>
<script type="text/javascript">
	$(document).on('ready', function() {
		$(".regular").slick({
			prevArrow:"<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
            nextArrow:"<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
			dots: false,
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 1,
			centerMode: false,
			variableWidth: false,
		});
	});
</script>
{{end}}
{{end}}

<!--Derived Cocktails-->
{{define "derivedcocktails"}}
{{with .CocktailSet}}
<h3>Derived Cocktails</h3>
{{range .ChildCocktails}}
<a style="text-decoration : none;" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktail/{{.ID}}">
	<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.Name}}</span>
</a>
{{end}}
{{end}}
{{end}}


<!--Alternative Ingredients-->
{{define "alternativeingredients"}}
{{with .CocktailSet}}
<h3>Alternative Ingredients</h3>
{{with .Cocktail.Recipe}} {{range .RecipeSteps}} {{if .AdIngredient.ProductName}}
<a style="text-decoration : none;" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.OriginalIngredient.ID}}">
	<!--<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.OriginalIngredient.ProductName}}</span>-->
	<div class="btn-group" role="group">
		<a title="Product Info" class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none;" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.ID}}">
			{{.PreText}}&nbsp;{{.ProductName}}&nbsp;{{.PostText}}
		</a>
		<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByProductID/{{.ID}}">
			<i class="fa fa-glass"></i>
		</a>
		{{if .AmazonLink}}{{if showAffiliateLinks}}
		<a title="Recommend Product" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" target="_blank" href="{{.AmazonLink}}">
			<i class="fa fa-amazon"></i>
		</a>
		{{end}}{{end}}
	</div>
</a>{{end}} {{if ne (len .AltIngredient) 0}}{{with .OriginalIngredient.ProductName}}{{.}}:&nbsp;{{end}}{{end}}{{range .AltIngredient}}
<a style="text-decoration : none;" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.ID}}">
	<!--<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.ProductName}}</span>-->
	<div class="btn-group" role="group">
		<a title="Product Info" class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none;" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.ID}}">
			{{.PreText}}&nbsp;{{.ProductName}}&nbsp;{{.PostText}}
		</a>
		<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByProductID/{{.ID}}">
			<i class="fa fa-glass"></i>
		</a>
		{{if .AmazonLink}}{{if showAffiliateLinks}}
		<a title="Recommend Product" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" target="_blank" href="{{.AmazonLink}}">
			<i class="fa fa-amazon"></i>
		</a>
		{{end}}{{end}}
	</div>
</a>
{{end}}{{if ne (len .AltIngredient) 0}}&nbsp;&nbsp;{{end}}{{end}}{{end}}
{{end}}
{{end}}

<!--Product Buttons-->
{{define "productbutton"}}
<div class="btn-group" role="group">
	<a title="Product Info" class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none;" href="/product/{{.ID}}">
		{{.PreText}}&nbsp;{{.ProductName}}&nbsp;{{.PostText}}
	</a>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/cocktailsByProductID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{if .AmazonLink}}{{if showAffiliateLinks}}
	<a title="Recommend Product" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" target="_blank" href="{{.AmazonLink}}">
		<i class="fa fa-amazon"></i>
	</a>
	{{end}}{{end}}
</div>
{{end}}

{{define "garnishbuttons"}}
{{with .CocktailSet}}
<h3>Garnish</h3>
<h4>
{{range .Cocktail.Garnish}}
<div class="btn-group" role="group">
	<a title="Product Info" class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none;" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.ID}}">
		{{.PreText}}&nbsp;{{.ProductName}}&nbsp;{{.PostText}}
	</a>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByProductID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{if .AmazonLink}}{{if showAffiliateLinks}}
	<a title="Recommend Product" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" target="_blank" href="{{.AmazonLink}}">
		<i class="fa fa-amazon"></i>
	</a>
	{{end}}{{end}}
</div>
{{end}}
</h4>
{{end}}
{{end}}

{{define "drinkwarebuttons"}}
{{with .CocktailSet}}
<h3>Drinkware</h3>
<h4>
{{range .Cocktail.Drinkware}}
<div class="btn-group" role="group">
	<a title="Product Info" class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none;" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.ID}}">
		{{.PreText}}&nbsp;{{.ProductName}}&nbsp;{{.PostText}}
	</a>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByProductID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{if .AmazonLink}}{{if showAffiliateLinks}}
	<a title="Recommend Product" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" target="_blank" href="{{.AmazonLink}}">
		<i class="fa fa-amazon"></i>
	</a>
	{{end}}{{end}}
</div>
{{end}}
</h4>
{{end}}
{{end}}

{{define "toolsbuttons"}}
{{with .CocktailSet}}
<h3>Tools</h3>
<h4>
{{range .Cocktail.Tool}}
<div class="btn-group" role="group">
	<a title="Product Info" class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none;" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/product/{{.ID}}">
		{{.PreText}}&nbsp;{{.ProductName}}&nbsp;{{.PostText}}
	</a>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByProductID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{if .AmazonLink}}{{if showAffiliateLinks}}
	<a title="Recommend Product" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" target="_blank" href="{{.AmazonLink}}">
		<i class="fa fa-amazon"></i>
	</a>
	{{end}}{{end}}
</div>
{{end}}
</h4>
{{end}}
{{end}}



<!--Metadata Buttons-->
{{define "metadatabutton"}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
{{end}}

<!--Flavor-->
{{define "flavorbuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Flavor:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Flavor}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--BaseSpirit-->
{{define "basespiritbuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Base Spirit:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.BaseSpirit}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Cocktail Type-->
{{define "typebuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Cocktail Type:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Type}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Served-->
{{define "servedbuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Served:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Served}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Technique-->
{{define "techniquebuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Technique:</p> 
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Technique}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Strength-->
{{define "strengthbuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Strength:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Strength}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Difficulty-->
{{define "difficultybuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Difficulty:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Difficulty}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--TOD-->
{{define "todbuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Time of Day:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.TOD}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Occasion-->
{{define "occasionbuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Occasion:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Occasion}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Style-->
{{define "stylebuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Style:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Style}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Ratio-->
{{define "ratiobuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Ratio:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Ratio}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Family-->
{{define "familybuttons"}}
{{with .CocktailSet}}
<div class="col-xs-5 text-right no-wrap">
	<p>Family:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Family}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="cursor:pointer;background-color: #FFF;font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktailsByMetaID/{{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
	{{end}}
</div>
{{end}}
{{end}}

<!--Cocktail Admin Social Bar-->
{{define "footnotes"}}
{{with .CocktailSet}}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h4>References</h4>
			{{.Cocktail.Footnotes}}
		</div>
	</div>
</div>
{{end}}{{end}}

{{define "cocktailVideo"}}
<div class="brightness col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<video controls poster="https://cdn.diffordsguide.com/contrib/cocktail_images/originals/53-amaretto_sour_2_1_20150106-104850_20170716-121256.jpg" id="video_id_0" controlsList="nodownload" class="img-responsive">
		<source src="https://cdn.diffordsguide.com/contrib/cocktail_images/originals/53-amaretto_sour_2_1_20150106-104850_20170716-121256.mp4" type="video/mp4" onerror="try_flowplayer( '#video_id_0', '#video_wrapper_0', 0 )" />
	</video>
</div>
{{end}}

{{define "relatedCocktails"}}
{{range mksliceCocktail $.Cocktails 3}}
<div class="brightness col-xs-12 col-sm-4 col-md-12 col-lg-12" style="height: 225px; overflow:hidden;">
	<a href="/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktail/{{.ID}}/{{.Keywords}}" style="text-decoration : none; color : #555;">
		<div>
			<div align="center">
				{{if .ImagePath}}
				<img class="img-responsive" style="height:150px" src="{{.ImagePath}}/{{.Image}}"/>
				{{else}}
				<img class="img-responsive" style="height:150px" src="images/{{.Image}}"/>
				{{end}}
			</div>
			<h4 >
			{{.Name}}
			</h4>
			<h5>
			<div class='starrr' id='star{{.ID}}'></div>
				<script>
					$('#star{{.ID}}').starrr({
						max: 5,
						readOnly: true,
						rating: {{.Rating}}
					});
				</script>
			</h5>
		</div>
	</a>
</div>
{{end}}{{end}}

<!--Cocktail Admin Social Bar-->
{{define "cocktailadminsocialbar"}}
{{if $.Authenticated}}{{if $.AllowAdmin}}
{{with .CocktailSet}}
<hr style="border-color: #FFF;">

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center no-wrap" style="color:gray" align="center">
			<div style="width: 100%; height: 18px; border-bottom: 1px solid #EEEEEE; text-align: center">
				<span style="font-size: 24px; background-color: white; padding: 0 10px;">Social Admin Section</span>
			</div>
		</div>
	</div>
	<hr style="border-color: #FFF;">

	<div class="row">
		<div class="col-lg-12">
			<p align="center">
				<span class="btn btn-default btn-sm adminsocialpost" title="Post on CC Facebook" id="adminsocialpost" name="adminsocialpost">
					Post on CC Facebook&nbsp;&nbsp;<i class="fa fa-facebook"></i>
				</span>
				<script>
				$('.adminsocialpost').click( function(){
				   $.ajax({
					        url: "/{{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/adminsocialpost?URLExt={{$.View}}{{if ne $.Locale ""}}/{{$.Locale}}{{end}}/cocktail/{{.Cocktail.ID}}"
					        ,success: function(response) {
					        	console.log("Posted to Facebook")
					        }
				    	})
				   return false;
				})
				</script>
			</p>
		</div>
	</div>
	<hr/>
</div>
{{end}}{{end}}{{end}}{{end}}
