{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}



	<div class="container">
		<!-- Portfolio Item Heading -->
		<div class="page-header">
			<h1 align="center">{{.PostTitle}}</h1>
			<h5 align="center">Contributed by&nbsp;<b>{{.PostAuthor}}</b></h5>
			<h6 align="center">Posted &nbsp;{{.FormattedDate}}</h6>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div align="center" style="position: relative; width: 100%;">

						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12" align="center">
								<a target="_blank" href="https://www.facebook.com/commonwealthcocktail" class="btn btn-default btn-sm" title="Facebook">
									<i class="fa fa-facebook"></i>
								</a>
								<a target="_blank" href="https://github.com/RoughIndustries/com.roughindustries.cocktails_go" class="btn btn-default btn-sm" title="GitHub">
									<i class="fa fa-github"></i>
								</a>
								<a href="#" class="btn btn-default btn-sm" title="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
								<a href="#" class="btn btn-default btn-sm" title="Twitter">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="mailto:someone@example.com?subject=Great Cocktail from Commonwealth Cocktails&body=Hi,I found this website and thought you might like it https://commonwealthcocktails.com/" class="btn btn-default btn-sm" title="Email">
									<i class="fa fa-envelope"></i>
								</a>
								<a href="#" class="btn btn-default btn-sm" title="Print">
									<i class="fa fa-print"></i>
								</a>
							</div>
						</div>


						&nbsp;
					</div>
				</div>
			</div>
			<hr style="border-color: #FFF;">
			<div class="col-md-4">
				<div align="center" class="row">

				</div>
				<br>
				<div class="row">

					<div style="color:gray" align="center">
						<div style="width: 100%; height: 10px; border-bottom: 1px solid #EEEEEE; text-align: center">
							<span style="font-size: 16px; background-color: white; padding: 0 10px;">Related Cocktails <!--Padding is optional--></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{template "footer" .}}

	<!-- /.container -->
	</div>
</body>

</html>
{{end}}
