{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}
	<!-- Page Content -->
	<div class="row">
			<div class="col-xs-12">
				<hr height="30px" style="border-color: #FFF;">
			</div>
		</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-1">
				&nbsp;
			</div>
			<div class="col-xs-10" align="center">
				<section class="header slider">
					<div align="center" style="position: relative; width: 100%;">
						<img border="0" class="img-responsive" src="https://placeholdit.imgix.net/~text?&bg=eeeeee&txtclr=000000&txtsize=120&txt=Cocktail+Mega+Search&w=1200&h=900&txttrack=0">
					</div>
					<div align="center" style="position: relative; width: 100%;">
						<img border="0" class="img-responsive" src="https://placeholdit.imgix.net/~text?&bg=eeeeee&txtclr=000000&txtsize=120&txt=World's Top 100 Cocktails&w=1200&h=900&txttrack=0">
					</div>
					<div align="center" style="position: relative; width: 100%;">
						<img border="0" class="img-responsive" src="https://placeholdit.imgix.net/~text?&bg=eeeeee&txtclr=000000&txtsize=120&txt=Techniques and How To Mix&w=1200&h=900&txttrack=0">
					</div>
					<div align="center" style="position: relative; width: 100%;">
						<img border="0" class="img-responsive" src="https://placeholdit.imgix.net/~text?&bg=eeeeee&txtclr=000000&txtsize=120&txt=Cocktail of the Day&w=1200&h=900&txttrack=0">
					</div>
				</section>
				<script type="text/javascript">
					$(document).on('ready', function() {
						$(".header").slick({
							dots: true,
							infinite: true,
							slidesToShow: 1,
							slidesToScroll: 1,
							centerMode: false,
							variableWidth: false,
							autoplay: true,
							autoplaySpeed: 2000
						});
					});
				</script>
			</div>
			<div class="col-xs-1">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr height="30px" style="border-color: #FFF;">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					{{range .MBT}}
					{{if .MetaType.ShowInCocktailsIndex}}
					<div class="row">
						<div class="col-xs-12 text-center no-wrap" style="color:gray" align="center">
							<div style="width: 100%; height: 18px; border-bottom: 1px solid #EEEEEE; text-align: center">
								<span style="font-size: 24px; background-color: white; padding: 0 10px;">{{.MetaType.MetaTypeName}}</span>
							</div>
						</div>
					</div>
					<hr style="border-color: #FFF;">

					<div class="row">
						<div class="col-xs-1">
							&nbsp;
						</div>
						<div class="col-xs-10" align="center">
							<section class="regular slider">
								{{range .Metas}}
								<div align="center" style="position: relative; width: 100%;">
									<!--29 is the meta type id for family-->
									{{if eq .ID 29}}
										<a href="cocktailsByFamily?ID={{.ID}}"> 
									{{else}}
										<a href="cocktailsByMetaID?ID={{.ID}}"> 
									{{end}}
										<img border="0" class="img-responsive" src="https://placeholdit.imgix.net/~text?&bg=ffffff&txtclr=000000&txtsize=160&txt={{.MetaName}}&w=1200&h=900&txttrack=0">
									</a>
								</div>
								{{end}}
							</section>
							<script type="text/javascript">
								$(document).on('ready', function() {
									$(".regular").slick({
										dots: true,
										infinite: true,
										slidesToShow: 2,
										slidesToScroll: 2,
										centerMode: false,
										variableWidth: false
									});
								});
							</script>
						</div>
						<div class="col-xs-1">
							&nbsp;
						</div>
					</div>
					<br> {{end}}{{end}}
				</div>
			</div>
		</div>
	</div>
	</div>

	{{template "footer" .}}

	<!-- /.container -->
</body>

</html>
{{end}}
