{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}

	<!-- Page Content -->



	<!-- Page Content -->
	<div class="container">

		<div class="row">
			<div class="page-header">
				<h1 align="center">Cocktails</h1>
			</div>
			<div class="col-md-12" >
				<div class="row">
					{{range .}}
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
						<a href="/cocktail?ID={{.ID}}" style="text-decoration : none; color : #555;">
							<span style="display: block;">
								<div align="center">
								{{if .ImagePath}}
								<img class="img-responsive" style="max-height:150px" src="{{.ImagePath}}/{{.Image}}"/>
								{{else}}
								<img class="img-responsive" style="max-height:150px" src="images/{{.Image}}"/>
								{{end}}
								</div>
								<h3>
									{{.Name}}{{if .IsFamilyRoot}}&nbsp;(Root Recipe){{end}}
								</h3>
								<h5>
									<div id="stars-existing" class="starrr" data-rating='{{.Rating}}'></div>
								</h5>
								<p style="max-height: 100px; overflow:hidden;">{{.Description}}</p>
							</span>
						</a>
					</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>


	{{template "footer" .}}

	<!-- /.container -->
</body>

</html>
{{end}}
