{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}
	{{with .MetasByTypes}}
	<!-- Page Content -->
	<div class="row">
			<div class="col-xs-12">
				<hr height="30px" style="border-color: #FFF;">
			</div>
		</div>
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1 align="center">Cocktails</h1>
			</div>
			<div class="row">
				{{template "top100" .}}
				{{template "cocktailsByIngredient" .}}
				{{template "cocktailOfTheDay" .}}
				{{template "cocktailsByStyle" .}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr height="30px" style="border-color: #FFF;">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					{{range .MBT}}
					{{if .MetaType.ShowInCocktailsIndex}}
					{{template "cocktailsby" .}}
					{{end}}{{end}}
				</div>
			</div>
		</div>
	</div>
	</div>

	{{template "footer" .}}
	{{end}}
	<!-- /.container -->
</body>

</html>
{{end}}

{{define "top100"}}
<div class="col-xs-6 col-sm-6 col-md-5 col-lg-3" style="margin-bottom: 50px;">
	<a href="#" style="text-decoration : none; color : #555;">
		<span style="display: block;">
			<div align="center">
				<img class="img-responsive" style="max-height:250px" src="https://placehold.it/900x1200">
			</div>
			<h3 align="center">Top 100 Cocktails</h3>
		</span>
	</a>
</div>
{{end}}

{{define "cocktailsByIngredient"}}
<div class="col-xs-6 col-sm-6 col-md-5 col-lg-3" style="margin-bottom: 50px;">
	<a href="#" style="text-decoration : none; color : #555;">
		<span style="display: block;">
			<div align="center">
				<img class="img-responsive" style="max-height:250px" src="https://placehold.it/900x1200">
			</div>
			<h3 align="center">Cocktails By Ingredient</h3>
		</span>
	</a>
</div>
{{end}}

{{define "cocktailOfTheDay"}}
<div class="col-xs-6 col-sm-6 col-md-5 col-lg-3" style="margin-bottom: 50px;">
	<a href="#" style="text-decoration : none; color : #555;">
		<span style="display: block;">
			<div align="center">
				<img class="img-responsive" style="max-height:250px" src="https://placehold.it/900x1200">
			</div>
			<h3 align="center">Cocktail of the Day</h3>
		</span>
	</a>
</div>
{{end}}

{{define "cocktailsByStyle"}}
<div class="col-xs-6 col-sm-6 col-md-5 col-lg-3" style="margin-bottom: 50px;">
	<a href="#" style="text-decoration : none; color : #555;">
		<span style="display: block;">
			<div align="center">
				<img class="img-responsive" style="max-height:250px" src="https://placehold.it/900x1200">
			</div>
			<h3 align="center">Cocktails By Style</h3>
		</span>
	</a>
</div>
{{end}}

{{define "cocktailsby"}}
<div class="row">
	<div class="col-xs-12 text-center no-wrap" style="color:gray" align="center">
		<div style="width: 100%; height: 18px; border-bottom: 1px solid #EEEEEE; text-align: center">
			<span style="font-size: 24px; background-color: white; padding: 0 10px;">Cocktails by {{.MetaType.MetaTypeName}}</span>
		</div>
	</div>
</div>
<hr style="border-color: #FFF;">

<div class="row">
	<div class="col-xs-1">
		&nbsp;
	</div>
	<div class="col-xs-10" align="center">
		{{template "metaslider" .}}
	</div>
	<div class="col-xs-1">
		&nbsp;
	</div>
</div>
<br> {{end}}

{{define "metaslider"}}
<section class="regular slider">
	{{range .Metas}}
	<div align="center" style="position: relative; width: 100%;">
		<a href="cocktailsByMetaID?ID={{.ID}}">
			<img border="0" class="img-responsive" src="https://placeholdit.imgix.net/~text?&bg=ffffff&txtclr=000000&txtsize=160&txt={{.MetaName}}&w=1200&h=900&txttrack=0">
		</a>
	</div>
	{{end}}
</section>
<script type="text/javascript">
	$(document).on('ready', function() {
		$(".regular").slick({
			dots: true,
			infinite: true,
			slidesToShow: 2,
			slidesToScroll: 2,
			centerMode: false,
			variableWidth: false
		});
	});
</script>
{{end}}