{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}

	{{with .CocktailSet}}
	<!-- Page Content -->
	<div class="container">

		<div class="row">
			<div class="page-header">
				<h1 align="center">Cocktails{{if .Metadata.MetaName}} - {{.Metadata.MetaName}}{{end}}{{if .Product.ProductName}} - {{.Product.ProductName}}{{end}}</h1>
			</div>
			<div class="col-md-12" >
				<div class="row">
					
					{{template "metaBlurb" .}}
					
					{{template "cocktailBlocks" .}}
				</div>
			</div>
		</div>
	</div>


	{{template "footer" .}}
	{{end}}
	<!-- /.container -->
</body>

</html>
{{end}}

{{define "metaBlurb"}}
{{if .Metadata.Blurb}}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" style="background-color: rgba(100, 100, 100, 0.1); height: 350px;">
	<span style="display: block;">
		<!--<div height="100%">-->
		<p style="max-height: 350px; overflow:hidden;">{{.Metadata.Blurb}}</p>
		<!--</div>-->
	</span>
</div>
{{end}}
{{end}}

{{define "cocktailBlocks"}}
{{range .ChildCocktails}}
<div class="brightness col-xs-12 col-sm-6 col-md-4 col-lg-2" style="height: 350px; margin-bottom: 50px;">
	<a href="/cocktail?ID={{.ID}}" style="text-decoration : none; color : #555;">
		<span style="display: block;">
			<div align="center">
				{{if .ImagePath}}
				<img class="img-responsive" style="max-height:150px" src="{{.ImagePath}}/{{.Image}}"/>
				{{else}}
				<img class="img-responsive" style="max-height:150px" src="images/{{.Image}}"/>
				{{end}}
			</div>
			<h3>
			{{.Name}}
			</h3>
			<h5>
			<div id="stars-existing" class="starrr" data-rating='{{.Rating}}'></div>
			</h5>
			<p style="max-height: 100px; overflow:hidden;">{{.Description}}</p>
		</span>
	</a>
</div>
{{end}}
{{end}}