{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}
	{{with .CocktailSet}}
	<!-- Page Content -->
	<div class="container">
		 Portfolio Item Heading 
		<div class="page-header">
			{{template "cocktailpageheader" .}}
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-0 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{template "cocktailimage" .}}
					<div class="col-xs-0 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" align="center">
						{{template "cocktaillinkbar" .}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Cocktail Description</h3>
						{{.Cocktail.Description}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Cocktail Details</h3>
						<div class="row">
							<div class="col-xs-12">
								<table align="left" border="0" cellpadding="1" cellspacing="1">
									<tbody>
										{{template "cocktailrecipeblock" .}}
									</tbody>
								</table>
							</div>
						</div>
						<hr style="border-color: #FFF;">
						<div class="row">
							<div class="col-xs-1">
								&nbsp;
							</div>
							<div class="col-xs-10">
								{{template "ingredientslickcarousel" .}}
							</div>
							<div class="col-xs-1">
								&nbsp;
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Method</h3>
						{{with .Cocktail.Recipe}}{{.Method}}{{end}}
					</div>
				</div>
				{{if .ChildCocktails}}
				<div class="row">
					<div class="col-md-12">
						{{template "derivedcocktails" .}}
					</div>
				</div>
				{{end}}
				<div class="row">
					<div class="col-md-12">
						{{template "alternativeingredients" .}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{template "garnishbuttons" .}}
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{template "drinkwarebuttons" .}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{template "toolsbuttons" .}}
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{if .Cocktail.Comment}}
						<h3>Comment</h3>
						{{.Cocktail.Comment}} {{end}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{if .Cocktail.Origin}}
						<h3>Cocktail Origin</h3>
						{{.Cocktail.Origin}} {{end}}
					</div>
				</div>
				<div class="row">
					<div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Cocktail Metadata</h3>
					</div>
					<div class="row">
						<
						<div class="row">
							<div class="col-sm-6 col-xs-12 clearfix x-recipe-terms recipe-link">
								<div class="row">
									{{template "flavorbuttons" .}}
								</div>
								<div class="row">
									{{template "basespiritbuttons" .}}
								</div>
								<div class="row">
									{{template "typebuttons" .}}
								</div>
								<div class="row">
									{{template "servedbuttons" .}}
								</div>
								<div class="row">
									{{template "techniquebuttons" .}}
								</div>
								
							</div>
							<div class="col-sm-6 col-xs-12 clearfix">
								<div class="row">
									{{template "strengthbuttons" .}}
								</div>
								<div class="row">
									{{template "difficultybuttons" .}}
								</div>
								<div class="row">
									{{template "todbuttons" .}}
								</div>
								<div class="row">
									{{template "ratiobuttons" .}}
								</div>
								<div class="row">
									{{template "familybuttons" .}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
			<hr style="border-color: #FFF;">
			<div class="col-md-4">
				<div align="center" class="row">

				</div>
				<br>
				<div class="row">
					<div class="col-xs-12 text-center no-wrap" style="color:gray" align="center">
						<div style="width: 100%; height: 10px; border-bottom: 1px solid #EEEEEE; text-align: center">
							<span style="font-size: 16px; background-color: white; padding: 0 10px;">Related Cocktails <!--Padding is optional--></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	{{template "footer" .}}

	{{end}}

</body>

</html>
{{end}}

<!--Cocktail Page Header-->
{{define "cocktailpageheader"}}
<h1 align="center">{{.Cocktail.Name}}</h1>
{{if .Cocktail.AKA}}
<h6 align="center">{{range .Cocktail.AKA}}({{.Name}}){{end}}</h6>{{end}}
<h5 align="center">
	<div id="stars-existing" class="starrr" data-rating='{{.Cocktail.Rating}}'></div>
</h5>
<h6 align="center">Original Source: <a title="Go to {{.Cocktail.SourceName}}" target="_blank" href="{{.Cocktail.SourceLink}}" style="text-decoration : none; color : #555;">{{.Cocktail.SourceName}}  <i class="fa fa-external-link"></i></a></h6>
{{if .RootCocktail.Name}}
<a href="/cocktail?ID={{.RootCocktail.ID}}" style="text-decoration : none; color : #555;">
	<h6 align="center">Root Cocktail:&nbsp;{{.RootCocktail.Name}}</h6>
</a>{{end}}
{{end}}

<!--Cocktail Image-->
{{define "cocktailimage"}}
<div align="center" style="position: relative; width: 100%;">
	{{if .Cocktail.Image}} {{if .Cocktail.ImagePath}}
	<img class="img-responsive" src="{{.Cocktail.ImagePath}}/{{.Cocktail.Image}}" alt="{{.Cocktail.Name}}" /> {{else}}
	<img class="img-responsive" src="images/{{.Cocktail.Image}}" alt="{{.Cocktail.Name}}" /> {{end}} {{else}}
	<img class="img-responsive" style="max-height:150px" src="https://placehold.it/600x600" /> {{end}}
	<h6 align="center" style="color: #555; background: rgba(0, 0, 0, 0.0); width: 100%;">Source: 
		<a target="_blank" style="text-decoration : none; color : #555;" href="{{.Cocktail.ImageSourceLink}}">{{.Cocktail.ImageSourceName}}  
			<i class="fa fa-external-link"></i>
		</a>
	</h6>
	</div>
</div>
{{end}}

<!--Cocktail Link Bar-->
{{define "cocktaillinkbar"}}
<a target="_blank" href="https://www.facebook.com/commonwealthcocktail" class="btn btn-default btn-sm" title="Facebook">
	<i class="fa fa-facebook"></i>
</a>
<a target="_blank" href="https://github.com/RoughIndustries/com.roughindustries.cocktails_go" class="btn btn-default btn-sm" title="GitHub">
	<i class="fa fa-github"></i>
</a>
<!--<a href="#" class="btn btn-default btn-sm" title="Google Plus">-->
<!--	<i class="fa fa-google-plus"></i>-->
<!--</a>-->
<a href="#" class="btn btn-default btn-sm" title="Twitter">
	<i class="fa fa-twitter"></i>
</a>
<!--<a href="mailto:someone@example.com?subject=Great Cocktail from Commonwealth Cocktails&body=Hi,I found this website and thought you might like it https://www.commonwealthcocktails.com/" class="btn btn-default btn-sm" title="Email">-->
<!--	<i class="fa fa-envelope"></i>-->
<!--</a>-->
<a href="#" class="btn btn-default btn-sm" title="Pinterest">
	<i class="fa fa-pinterest"></i>
</a>
{{end}}

<!--Coctail Recipe Block-->
{{define "cocktailrecipeblock"}}
{{with .Cocktail.Recipe}} {{range .RecipeSteps}}
<tr>
	{{if .RecipeCardinalString}}
	<td style="white-space: nowrap;">{{.RecipeCardinalString}}</td>
	{{else if .RecipeCardinalString}}
	<td style="white-space: nowrap;">{{printf "%.1f" .RecipeCardinalFloat}}</td>
	{{else}}
	<td style="white-space: nowrap;">&nbsp;</td>
	{{end}}
	<td width="10">&nbsp;</td>
	<td style="white-space: nowrap;">{{.RecipeDoze}}</td>
	<td width="10">&nbsp;</td>
	<td>
		<div class="iconlink">
			{{if .AdIngredient.ProductName}}
			<a href="/product?ID={{.AdIngredient.ID}}" style="text-decoration : none; color : #000;">
				{{if .AdIngredient.PreText}}
				{{.AdIngredient.PreText}}&nbsp; 
				{{end}} 
				{{.AdIngredient.ProductName}}&nbsp;{{.AdIngredient.PostText}} </a>
			</a> {{else}}
			<a href="/product?ID={{.OriginalIngredient.ID}}" style="text-decoration : none; color : #000;">
				{{if .OriginalIngredient.PreText}}
				{{.OriginalIngredient.PreText}}&nbsp; 
				{{end}} 
				{{.OriginalIngredient.ProductName}}&nbsp;{{.OriginalIngredient.PostText}}
			</a> 
			<a title="Related Cocktails" href="/cocktailsByIngredientID?ID={{.OriginalIngredient.ID}}">
				<i style="display: table-cell; font-size: 0.73em; color: black; vertical-align: middle;" class="fa fa-glass"></i>
			</a>
			{{end}}
		</div>
	</td>
</tr>
{{end}} {{end}}
{{end}}

<!--Ingredient Slick Carousel-->
{{define "ingredientslickcarousel"}}
<section class="regular slider">
 {{with .Cocktail.Recipe}} {{range .RecipeSteps}} {{if .AdIngredient.ProductName}}
<div>
	<a href="/product?ID={{.AdIngredient.ID}}" style="text-decoration : none; color : #000;">
		{{if .AdIngredient.ImagePath}}
		<img border="0" class="img-responsive" src="{{.AdIngredient.ImagePath}}/{{.AdIngredient.Image}}">
		{{else}}
		<img border="0" class="img-responsive" src="images/{{.AdIngredient.Image}}">
		{{end}}
	</a>
</div>
{{else}}
<div>
	<a href="/product?ID={{.OriginalIngredient.ID}}" style="text-decoration : none; color : #000;">
		{{if .OriginalIngredient.Image}} {{if .OriginalIngredient.ImagePath}}
		<img border="0" class="img-responsive" src="{{.OriginalIngredient.ImagePath}}/{{.OriginalIngredient.Image}}">
		{{else}}
		<img border="0" class="img-responsive" src="images/{{.OriginalIngredient.Image}}">
		{{end}}	{{else}}
		<img border="0" class="img-responsive" src="https://placehold.it/900x1200"> 
		{{end}}
	</a>
</div>
{{end}} {{end}}{{end}}
</section>
<script type="text/javascript">
	$(document).on('ready', function() {
		$(".regular").slick({
			dots: false,
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 1,
			centerMode: false,
			variableWidth: false
		});
	});
</script>
{{end}}

<!--Derived Cocktails-->
{{define "derivedcocktails"}}
<h3>Derived Cocktails</h3>
{{range .ChildCocktails}}
<a style="text-decoration : none;" href="/cocktail?ID={{.ID}}">
	<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.Name}}</span>
</a>
{{end}}
{{end}}


<!--Alternative Ingredients-->
{{define "alternativeingredients"}}
<h3>Alternative Ingredients</h3>
{{with .Cocktail.Recipe}} {{range .RecipeSteps}} {{if .AdIngredient.ProductName}}
<a style="text-decoration : none;" href="/product?ID={{.OriginalIngredient.ID}}">
	<!--<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.OriginalIngredient.ProductName}}</span>-->
	{{template "productbutton" .}}
</a>{{end}} {{if ne (len .AltIngredient) 0}}{{with .OriginalIngredient.ProductName}}{{.}}:&nbsp;{{end}}{{end}}{{range .AltIngredient}}
<a style="text-decoration : none;" href="/product?ID={{.ID}}">
	<!--<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.ProductName}}</span>-->
	{{template "productbutton" .}}
</a>{{end}}{{if ne (len .AltIngredient) 0}}&nbsp;&nbsp;{{end}}{{end}}{{end}}
{{end}}


<!--Product Buttons-->
{{define "productbutton"}}
<div class="btn-group" role="group">
	<a title="Product Info" class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none;" href="/product?ID={{.ID}}">
		{{.PreText}}&nbsp;{{.ProductName}}&nbsp;{{.PostText}}
	</a>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/cocktailsByProductID?ID={{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
</div>
{{end}}

{{define "garnishbuttons"}}
<h3>Garnish</h3>
<h4>
{{range .Cocktail.Garnish}}
	{{template "productbutton" .}}
{{end}}
</h4>
{{end}}

{{define "drinkwarebuttons"}}
<h3>Drinkware</h3>
<h4>
{{range .Cocktail.Drinkware}}
	{{template "productbutton" .}}
{{end}}
</h4>
{{end}}

{{define "toolsbuttons"}}
<h3>Tools</h3>
<h4>
{{range .Cocktail.Tool}}
	{{template "productbutton" .}}
{{end}}
</h4>
{{end}}



<!--Metadata Buttons-->
{{define "metadatabutton"}}
<div class="btn-group" role="group">
	{{if .MetaName}}
	<span class="btn btn-default btn-xs" style="font-weight: bold; text-decoration : none">
			{{.MetaName}}
	</span>
	<a title="Related Cocktails" style="text-decoration : none; font-weight: bold;" class="btn btn-default btn-xs" href="/cocktailsByMetaID?ID={{.ID}}">
		<i class="fa fa-glass"></i>
	</a>
	{{end}}
</div>
{{end}}

<!--Flavor-->
{{define "flavorbuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Flavor:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Flavor}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--BaseSpirit-->
{{define "basespiritbuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Base Spirit:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.BaseSpirit}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--Cocktail Type-->
{{define "typebuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Cocktail Type:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Type}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--Served-->
{{define "servedbuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Served:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Served}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--Technique-->
{{define "techniquebuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Technique:</p> 
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Technique}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--Strength-->
{{define "strengthbuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Strength:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Strength}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--Difficulty-->
{{define "difficultybuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Difficulty:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Difficulty}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--TOD-->
{{define "todbuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Time of Day:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.TOD}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--Ratio-->
{{define "ratiobuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Ratio:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Ratio}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}

<!--Family-->
{{define "familybuttons"}}
<div class="col-xs-5 text-right no-wrap">
	<p>Family:</p>
</div>
<div class="col-xs-7 x-recipe-preparation">
	{{range .Cocktail.Family}}
		{{template "metadatabutton" .}}
	{{end}}
</div>
{{end}}
