{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

    {{template "head" .}}
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2f2f2f;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>

<body>

    {{template "navbar" .}}
    <div class="container">
        <div class="page-header">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                  <center><div class="loader"></div></center>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr height="30px" style="border-color: #FFF;">
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{template "footer" .}}
</body>

</html>
{{end}}