<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<title>{{.Title}}</title>
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom CSS -->
	<link href="css/commonwealth_cocktails.css" rel="stylesheet" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header"><button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span></button><a class="navbar-brand" href="#">Commonwealth Cocktails</a></div>
			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!--<ul class="nav navbar-nav">
	<li><a href="#">About</a></li>
	<li><a href="/search">Services</a></li>
	<li><a href="#">Contact</a></li>
</ul>-->
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- Page Content -->


	<div class="container">
		<!-- Portfolio Item Heading -->
		<div class="page-header">
			<h1>{{.Name}}</h1>
			<h6>Source: <a target="_blank" href="{{.SourceLink}}">{{.SourceName}}</a></h6>
			<h5>Rating: {{.Rating}}</h5>
			<div class="rating">
				<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>

		</div>
		<div class="row">
			<div class="col-md-8">
				<!--<img class="img-responsive" src="images/{{.Image}}" alt="{{.Name}}" />-->
				<div style="position: relative; width: 100%;">
					<img class="img-responsive" src="images/{{.Image}}" alt="{{.Name}}" />
					<h6 style="color: #FFF; background: rgba(0, 0, 0, 0.0); position: absolute; bottom: 0; left: 0; width: 100%;">Source: <a style="color: #FFF;" href=".ImageSourceLink">{{.ImageSourceName}}</a></h6>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Cocktail Description</h3>
						{{.Description}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Cocktail Details</h3>

						<table align="left" border="0" cellpadding="1" cellspacing="1">
							<tbody>
								{{with .Recipe}} {{range .RecipeSteps}}
								<tr>
									<td style="white-space: nowrap;">{{printf "%.1f" .RecipeCardinal}} {{.RecipeDoze}}</td>
									<td width="10">&nbsp;</td>
									<td>
										{{with .Ingredient}} {{.ComponentName}} {{end}}
									</td>
								</tr>
								{{end}} {{end}}
							</tbody>
						</table>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Method</h3>
						{{.CocktailMethod}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Garnish</h3>
						<h4>
							{{range .Garnish}}
							<a href="#"><span class="label label-default">{{.ComponentName}}</span></a> {{end}}
						</h4>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Drinkware</h3>
						<h4>
							{{range .Drinkware}}
							<a href="#"><span class="label label-default">{{.ComponentName}}</span></a> {{end}}
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Tools</h3>
						<h4>
							{{range .Tool}}
							<a href="#"><span class="label label-default">{{.ComponentName}}</span></a> {{end}}
						</h4>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3></h3>
						<h4>
							<!--<a href="#"><span class="label label-default"></span></a>-->
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Cocktail Metadata</h3>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">Flavor: {{range .Flavor}}
							<a href="#"><span class="label label-default">{{.MetaName}}</span></a> {{end}}
						</div>
						<hr style="border-color: #FFF;">
						<div class="row">
							<div class="col-sm-6 col-xs-12 clearfix x-recipe-terms recipe-link">
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">Base Spirit: </div>
									{{range .BaseSpirit}}
									<div class="col-xs-7 x-recipe-spirit">
										<a href="#"><span class="label label-default">{{.MetaName}}</span></a>
									</div>
									{{end}}
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">Cocktail Type: </div>
									{{range .Type}}
									<div class="col-xs-7 x-recipe-type">
										<a href="#"><span class="label label-default">{{.MetaName}}</span></a>
									</div>
									{{end}}
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">Served: </div>
									{{range .Served}}
									<div class="col-xs-7 x-recipe-served">
										<a href="#"><span class="label label-default">{{.MetaName}}</span></a>
									</div>
									{{end}}
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">Technique: </div>
									{{range .Technique}}
									<div class="col-xs-7 x-recipe-preparation">
										<a href="#"><span class="label label-default">{{.MetaName}}</span></a>
									</div>
									{{end}}
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">Strength: </div>
									{{range .Strength}}
									<div class="col-xs-7 x-recipe-preparation">
										<a href="#"><span class="label label-default">{{.MetaName}}</span></a>
									</div>
									{{end}} </div>
							</div>
							<div class="col-sm-6 col-xs-12 clearfix">
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">Difficulty: </div>
									{{range .Difficulty}}
									<div class="col-xs-7 x-recipe-preparation">
										<a href="#"><span class="label label-default">{{.MetaName}}</span></a>
									</div>
									{{end}} </div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">Time of Day: </div>
									{{range .TOD}}
									<div class="col-xs-7 x-recipe-preparation">
										<a href="#"><span class="label label-default">{{.MetaName}}</span></a>
									</div>
									{{end}} </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr style="border-color: #FFF;">
			<div class="col-md-4">
				<div align="center" class="row">
					<div style="width:200px;">
						<img class="img-responsive" src="images/jackdaniels.jpg" alt="{{.Name}}" />
					</div>
				</div>
				<br>
				<div class="row">

					<div style="color:gray" align="center">
						<div style="width: 100%; height: 10px; border-bottom: 1px solid #EEEEEE; text-align: center">
							<span style="font-size: 16px; background-color: white; padding: 0 10px;">
    Related Cocktails <!--Padding is optional-->
  </span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<hr />
				<p align="center">Copyright &copy; Commonwealth Cocktails 2016</p>
			</div>
		</div>
		<!-- /.row -->
	</footer>
	<!-- /.container -->
	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	</div>
</body>

</html>
