{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}

	<!-- Page Content -->



	<!-- Page Content -->
	<div class="container">

		<div class="row">
			<div class="page-header">
				<h1 align="center">Articles</h1>
			</div>
			<div class="col-md-12">
				<div class="row">
					{{range .}}
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<a href="/post?ID={{.ID}}" style="text-decoration : none; color : #555;">
							<div align="center">
								{{if .PostExcerptImage}} {{if .PostExcerptImagePath}}
								<img class="img-responsive" style="max-height:150px" src="{{.PostExcerptImagePath}}/{{.PostExcerptImage}}" /> {{else}}
								<img class="img-responsive" style="max-height:150px" src="images/{{.PostExcerptImage}}" /> {{end}} {{else}}
								<img class="img-responsive" style="max-height:150px" src="http://placehold.it/900x1200"> {{end}}
							</div>
							<h3>
								{{.PostTitle}}
							</h3>
							<div style="height: 100px; overflow:hidden;">{{.PostExcerpt}}&nbsp;</div>
						</a>
					</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>


	{{template "footer" .}}

	<!-- /.container -->
</body>

</html>
{{end}}
