{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}

	<!-- Page Content -->


	<div class="container">
		<!-- Portfolio Item Heading -->
		<div class="page-header">
			<h1 align="center">{{.Cocktail.Name}}{{if .Cocktail.IsFamilyRoot}}&nbsp;(Root Recipe){{end}}</h1>
			{{if .Cocktail.AKA}}
			<h6 align="center">{{range .Cocktail.AKA}}({{.Name}}){{end}}</h6>{{end}}
			<h5 align="center">
				<div id="stars-existing" class="starrr" data-rating='{{.Cocktail.Rating}}'></div>
			</h5>
			<h6 align="center">Original Source: <a title="Go to {{.Cocktail.SourceName}}" class="external" target="_blank" href="{{.Cocktail.SourceLink}}" style="text-decoration : none; color : #555;">{{.Cocktail.SourceName}}</a></h6>
			{{if .RootCocktail.Name}}
			<a href="/cocktail?ID={{.RootCocktail.ID}}" style="text-decoration : none; color : #555;">
				<h6 align="center">Root Cocktail:&nbsp;{{.RootCocktail.Name}}</h6>
			</a>{{end}}
		</div>
		<div class="row">
			<div class="col-md-8">
				<!--<img class="img-responsive" src="images/{{.Cocktail.Image}}" alt="{{.Cocktail.Name}}" />-->
				<div class="row">
					<div class="col-xs-0 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

						<div align="center" style="position: relative; width: 100%;">
							{{with .Cocktail.Advertisement}} {{if .AdvertiserName}}
							<div align="center" style="position: relative; width: 100%;">
								{{if .HeaderSnippet}} {{.HeaderSnippet}} {{else}}
								<a target="_blank" href="{{.AdvertiserLink}}">
									<img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=14&bg=ffffff&txtclr=000000&txtsize=33&txt=Sponsored+By+{{.AdvertiserName}}&w=600&h=150&txttrack=0" />
								</a>{{end}}
							</div>
							{{end}}{{end}} {{if .Cocktail.Image}} {{if .Cocktail.ImagePath}}
							<img class="img-responsive" src="{{.Cocktail.ImagePath}}/{{.Cocktail.Image}}" alt="{{.Cocktail.Name}}" /> {{else}}
							<img class="img-responsive" src="images/{{.Cocktail.Image}}" alt="{{.Cocktail.Name}}" /> {{end}} {{else}}
							<img class="img-responsive" style="max-height:150px" src="http://placehold.it/600x600"> {{end}}
							<h6 align="center" style="color: #555; background: rgba(0, 0, 0, 0.0); width: 100%;">Source: <a target="_blank" style="text-decoration : none; color : #555;" href="{{.Cocktail.ImageSourceLink}}">{{.Cocktail.ImageSourceName}}</a></h6>
						</div>
					</div>
					<div class="col-xs-0 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" align="center">
						<a target="_blank" href="https://www.facebook.com/commonwealthcocktail" class="btn btn-default btn-sm" title="Facebook">
							<i class="fa fa-facebook"></i>
						</a>
						<a target="_blank" href="https://github.com/RoughIndustries/com.roughindustries.cocktails_go" class="btn btn-default btn-sm" title="GitHub">
							<i class="fa fa-github"></i>
						</a>
						<a href="#" class="btn btn-default btn-sm" title="Google Plus">
							<i class="fa fa-google-plus"></i>
						</a>
						<a href="#" class="btn btn-default btn-sm" title="Twitter">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="mailto:someone@example.com?subject=Great Cocktail from Commonwealth Cocktails&body=Hi,I found this website and thought you might like it http://www.commonwealthcocktails.com/" class="btn btn-default btn-sm" title="Email">
							<i class="fa fa-envelope"></i>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Cocktail Description</h3>
						{{.Cocktail.Description}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Cocktail Details</h3>
						<div class="row">
							<div class="col-xs-12">
								<table align="left" border="0" cellpadding="1" cellspacing="1">
									<tbody>
										{{with .Cocktail.Recipe}} {{range .RecipeSteps}}
										<tr>
											{{if .RecipeCardinalString}}
											<td style="white-space: nowrap;">{{.RecipeCardinalString}}</td>
											{{else if .RecipeCardinalString}}
											<td style="white-space: nowrap;">{{printf "%.1f" .RecipeCardinalFloat}}</td>
											{{else}}
											<td style="white-space: nowrap;">&nbsp;</td>
											{{end}}
											<td width="10">&nbsp;</td>
											<td style="white-space: nowrap;">{{.RecipeDoze}}</td>
											<td width="10">&nbsp;</td>
											<td>
												<div class="iconlink">
													{{if .AdIngredient.ProductName}}
													<a href="/product?ID={{.AdIngredient.ID}}" style="text-decoration : none; color : #000;">{{.AdIngredient.ProductName}} 
													</a> {{else}}
													<a href="/product?ID={{.OriginalIngredient.ID}}" style="text-decoration : none; color : #000;">
											{{if .OriginalIngredient.PreText}}
											{{.OriginalIngredient.PreText}}&nbsp; 
											{{end}} 
											{{.OriginalIngredient.ProductName}}&nbsp;{{.OriginalIngredient.PostText}} </a> {{end}}
												</div>
											</td>
										</tr>
										{{end}} {{end}}
									</tbody>
								</table>
							</div>
						</div>
						<hr style="border-color: #FFF;">
						<div class="row">
							<div class="col-xs-1">
								&nbsp;
							</div>
							<div class="col-xs-10">
								<section class="regular slider">
									{{with .Cocktail.Recipe}} {{range .RecipeSteps}} {{if .AdIngredient.ProductName}}
									<div>
										<a href="/product?ID={{.AdIngredient.ID}}" style="text-decoration : none; color : #000;">
											{{if .AdIngredient.ImagePath}}
											<img border="0" class="img-responsive" src="{{.AdIngredient.ImagePath}}/{{.AdIngredient.Image}}">
											{{else}}
											<img border="0" class="img-responsive" src="images/{{.AdIngredient.Image}}">
											{{end}}
										</a>
									</div>
									{{else}}
									<div>
										<a href="/product?ID={{.OriginalIngredient.ID}}" style="text-decoration : none; color : #000;">
											{{if .OriginalIngredient.ImagePath}}
											<img border="0" class="img-responsive" src="{{.OriginalIngredient.ImagePath}}/{{.OriginalIngredient.Image}}">
											{{else}}
											<img border="0" class="img-responsive" src="images/{{.OriginalIngredient.Image}}">
											{{end}}
										</a>
									</div>
									{{end}} {{end}}{{end}}
								</section>
								<script type="text/javascript">
									$(document).on('ready', function() {
										$(".regular").slick({
											dots: false,
											infinite: true,
											slidesToShow: 3,
											slidesToScroll: 1,
											centerMode: false,
											variableWidth: false
										});
									});
								</script>
							</div>
							<div class="col-xs-1">
								&nbsp;
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Method</h3>
						{{with .Cocktail.Recipe}}{{.Method}}{{end}}
					</div>
				</div>
				{{if .ChildCocktails}}
				<div class="row">
					<div class="col-md-12">
						<h3>Derived Cocktails</h3>
						{{range .ChildCocktails}}
						<a style="text-decoration : none;" href="/cocktail?ID={{.ID}}">
							<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.Name}}</span>
						</a>
						{{end}}
					</div>
				</div>
				{{end}}
				<div class="row">
					<div class="col-md-12">
						<h3>Alternative Ingredients</h3>
						{{with .Cocktail.Recipe}} {{range .RecipeSteps}} {{if .AdIngredient.ProductName}}
						<a style="text-decoration : none;" href="/product?ID={{.OriginalIngredient.ID}}">
							<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.OriginalIngredient.ProductName}}</span>
						</a>{{end}} {{range .AltIngredient}}
						<a style="text-decoration : none;" href="/product?ID={{.ID}}">
							<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.ProductName}}</span>
						</a>{{end}} {{range .BDG.ProductGroups}}
						<a style="text-decoration : none;" href="/product?ID={{.ID}}">
							<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.ProductName}}</span>
						</a>
						{{end}}{{end}}{{end}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Garnish</h3>
						<h4>
							{{range .Cocktail.Garnish}}
							<a style="text-decoration : none;" href="/product?ID={{.ID}}"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.PreText}}&nbsp;{{.ProductName}}&nbsp;{{.PostText}}</span></a> {{end}}
						</h4>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Drinkware</h3>
						<h4>
							{{range .Cocktail.Drinkware}}
							<a style="text-decoration : none;" href="/product?ID={{.ID}}">
								<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.ProductName}}</span>
							</a> {{end}}
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Tools</h3>
						<h4>
							{{range .Cocktail.Tool}}
							<a style="text-decoration : none;" href="/product?ID={{.ID}}">
								<span style="font-weight: bold;" class="btn btn-default btn-xs">{{.ProductName}}</span>
							</a> {{end}}
						</h4>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{if .Cocktail.Comment}}
						<h3>Comment</h3>
						{{.Cocktail.Comment}} {{end}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h3>Cocktail Metadata</h3>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>Flavor: {{range .Cocktail.Flavor}}
								<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a> {{end}}
							</p>
						</div>
						<hr style="border-color: #FFF;">
						<div class="row">
							<div class="col-sm-6 col-xs-12 clearfix x-recipe-terms recipe-link">
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Base Spirit: </div>
									<div class="col-xs-7 x-recipe-spirit">
										{{range .Cocktail.BaseSpirit}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a> {{end}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Cocktail Type: </div>
									<div class="col-xs-7 x-recipe-type">
										{{range .Cocktail.Type}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a> {{end}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Served: </div>

									<div class="col-xs-7 x-recipe-served">
										{{range .Cocktail.Served}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a> {{end}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Technique: </div>
									<div class="col-xs-7 x-recipe-preparation">
										{{range .Cocktail.Technique}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a> {{end}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Strength: </div>
									<div class="col-xs-7 x-recipe-preparation">
										{{range .Cocktail.Strength}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a>{{end}}
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12 clearfix">
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Difficulty: </div>
									<div class="col-xs-7 x-recipe-preparation">
										{{range .Cocktail.Difficulty}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a>{{end}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Time of Day: </div>
									<div class="col-xs-7 x-recipe-preparation">
										{{range .Cocktail.TOD}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a>{{end}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Ratio: </div>
									<div class="col-xs-7 x-recipe-preparation">
										{{range .Cocktail.Ratio}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a>{{end}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-5 text-right no-wrap">
										<p>Family: </div>
									<div class="col-xs-7 x-recipe-preparation">
										{{with .Cocktail.Family}}{{if .MetaName}}
										<a style="text-decoration : none;" href="#"><span style="font-weight: bold;" class="btn btn-default btn-xs">{{.MetaName}}</span></a>{{end}}{{end}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!--<div class="col-md-1">
			</div>-->
			<hr style="border-color: #FFF;">
			<div class="col-md-4">
				<div align="center" class="row">
					{{with .Cocktail.Advertisement}} {{if .AdvertiserName}}
					<div align="center" style="position: relative; width: 100%; max-width:400px">
						{{if .VertRecSnippet}} {{.VertRecSnippet}} {{end}}
					</div>
					{{end}}{{end}}
				</div>
				<br>
				<div class="row">

					<div style="color:gray" align="center">
						<div style="width: 100%; height: 10px; border-bottom: 1px solid #EEEEEE; text-align: center">
							<span style="font-size: 16px; background-color: white; padding: 0 10px;">Related Cocktails <!--Padding is optional--></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{template "footer" .}}

	<!-- /.container -->


</body>

</html>
{{end}}
