{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

	{{template "head" .}}

</head>

<body>
	{{template "navbar" .}}

	<!-- Page Content -->



	<!-- Page Content -->
	<div class="container">

		<div class="row">
			<div class="page-header">
				<h1 align="center">Products</h1>
			</div>
			<div class="col-md-12">
				<div class="row">
					{{range .}}
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<a href="/product?ID={{.ID}}" style="text-decoration : none; color : #555;">
							<div align="center">
								{{if .Image}} {{if .ImagePath}}
								<img class="img-responsive" style="max-height:150px" src="{{.ImagePath}}/{{.Image}}" /> {{else}}
								<img class="img-responsive" style="max-height:150px" src="images/{{.Image}}" /> {{end}} {{else}}
								<img class="img-responsive" style="max-height:150px" src="http://placehold.it/900x1200"> {{end}}
							</div>
							<h3>
								{{.ProductName}}
							</h3>
							{{if .Rating}}
							<h5>
								<div id="stars-existing" class="starrr" data-rating='{{.Rating}}'></div>
							</h5>
							{{end}}
							<div style="height: 100px; overflow:hidden;">{{.Description}}&nbsp;</div>
						</a>
					</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>


	{{template "footer" .}}

	<!-- /.container -->
</body>

</html>
{{end}}
