{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta content="" name="description" />
	<meta content="" name="author" />
	<title>Search</title>
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet" />
	<!-- Custom CSS -->
	<link href="css/commonwealth_cocktails.css" rel="stylesheet" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/commonwealth_cocktails.js"></script>
	{{template "ga" .}}
</head>

<body>
	{{template "navbar" .}}



	<div class="container">
		<!-- Portfolio Item Heading -->
		<div class="page-header">
			<h1 align="center">Cocktail Search</h1>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						&nbsp;
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<div id="button_div" class="btn-group btn-group-xs" role="group" aria-label="...">
							<button id="hidden_button" type="button" style="display: none;" />
							<button id="button" type="button" class="btn btn-default" style="font-weight: bold;">Bourbon Whiskey</button>
							<button id="include" title="Include" onclick="include()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
							<button id="exclude" title="Exclude" onclick="exclude()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
							<script type="text/javascript">
								function include() {
									document.getElementById("exclude").className = "btn btn-default";
									document.getElementById("button").className = "btn btn-default";
									if (document.getElementById("include").className.search("active") !== -1) {
										document.getElementById("include").className = "btn btn-default";
									}
									else {
										document.getElementById("button").className = "btn btn-default active";
										document.getElementById("include").className = "btn btn-default active";
									}
									document.getElementById("include").blur()
								}

								function exclude() {
									document.getElementById("include").className = "btn btn-default";
									document.getElementById("button").className = "btn btn-default";
									if (document.getElementById("exclude").className.search("active") !== -1) {
										document.getElementById("exclude").className = "btn btn-default";
									}
									else {
										document.getElementById("button").className = "btn btn-default active";
										document.getElementById("exclude").className = "btn btn-default active";
									}
									document.getElementById("exclude").blur()
								}
							</script>
						</div>

					</div>
				</div>
			</div>
			<hr style="border-color: #FFF;">
			<div class="col-md-4">
				<div align="center" class="row">
					<div style="width:200px;">
						<img class="img-responsive" src="images/jackdaniels.jpg" />
					</div>
				</div>
				<br>

			</div>
		</div>
	</div>



	{{template "footer" .}}

	<!-- /.container -->
	</div>
</body>

</html>
{{end}}
