{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Commonwealth Cocktails</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/landing-page.css" rel="stylesheet">
	<link href="css/commonwealth_cocktails.css" rel="stylesheet" />

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="slick/slick.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/commonwealth_cocktails.js"></script>
	
	<style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
    }
    * {
      box-sizing: border-box;
    }
    .slider {
        width: 50%;
        margin: 100px auto;
    }
    .slick-slide {
      margin: 0px 20px;
    }
    .slick-slide img {
      width: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
  </style>

</head>

<body>
	{{template "navbar" .}}

	<br><br><br><br><br>
	<section class="regular slider">
		<div>
			<img src="images/24-sour.jpg">
		</div>
		<div>
			<img src="images/24-sour.jpg">
		</div>
		<div>
			<img src="images/24-sour.jpg">
		</div>
		<div>
			<img src="images/24-sour.jpg">
		</div>
		<div>
			<img src="images/24-sour.jpg">
		</div>
		<div>
			<img src="images/24-sour.jpg">
		</div>
	</section>
	<script src="./slick/slick.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).on('ready', function() {
			$(".regular").slick({
				dots: false,
				infinite: true,
				slidesToShow: 3,
				slidesToScroll: 1
			});
		});
	</script>

	<div class="container">
		<!-- Portfolio Item Heading -->
		<div class="page-header">
			<h1 align="center">Cocktail Search</h1>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						&nbsp;
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">


						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a style="text-decoration : none;" class="collapsed" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Spirits</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<div id="button_div" class="btn-group btn-group-xs" role="group" aria-label="...">
											<button id="hidden_button" type="button" style="display: none;" />
											<button id="button" type="button" class="btn btn-default" style="font-weight: bold;">Bourbon Whiskey</button>
											<button id="include" title="Include" onclick="include('include', 'exclude', 'button')" type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
											<button id="exclude" title="Exclude" onclick="exclude('include', 'exclude', 'button')" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
											<script type="text/javascript">
												function include(include, exclude, button) {
													document.getElementById(exclude).className = "btn btn-default";
													document.getElementById(button).className = "btn btn-default";
													if (document.getElementById(include).className.search("active") !== -1) {
														document.getElementById(include).className = "btn btn-default";
													}
													else {
														document.getElementById(button).className = "btn btn-default active";
														document.getElementById(include).className = "btn btn-default active";
													}
													document.getElementById(include).blur()
												}

												function exclude(include, exclude, button) {
													document.getElementById(include).className = "btn btn-default";
													document.getElementById(button).className = "btn btn-default";
													if (document.getElementById(exclude).className.search("active") !== -1) {
														document.getElementById(exclude).className = "btn btn-default";
													}
													else {
														document.getElementById(button).className = "btn btn-default active";
														document.getElementById(exclude).className = "btn btn-default active";
													}
													document.getElementById(exclude).blur()
												}
											</script>
										</div>

										<div id="button_div" class="btn-group btn-group-xs" role="group" aria-label="...">
											<button id="hidden_button" type="button" style="display: none;" />
											<button id="vodka_button" type="button" class="btn btn-default" style="font-weight: bold;">Vodka</button>
											<button id="vodka_include" title="Include" onclick="vodka_include()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
											<button id="vodka_exclude" title="Exclude" onclick="vodka_exclude()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
											<script type="text/javascript">
												function vodka_include() {
													document.getElementById("vodka_exclude").className = "btn btn-default";
													document.getElementById("vodka_button").className = "btn btn-default";
													if (document.getElementById("vodka_include").className.search("active") !== -1) {
														document.getElementById("vodka_include").className = "btn btn-default";
													}
													else {
														document.getElementById("vodka_button").className = "btn btn-default active";
														document.getElementById("vodka_include").className = "btn btn-default active";
													}
													document.getElementById("vodka_include").blur()
												}

												function vodka_exclude() {
													document.getElementById("vodka_include").className = "btn btn-default";
													document.getElementById("vodka_button").className = "btn btn-default";
													if (document.getElementById("vodka_exclude").className.search("active") !== -1) {
														document.getElementById("vodka_exclude").className = "btn btn-default";
													}
													else {
														document.getElementById("vodka_button").className = "btn btn-default active";
														document.getElementById("vodka_exclude").className = "btn btn-default active";
													}
													document.getElementById("vodka_exclude").blur()
												}
											</script>
										</div>

									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a style="text-decoration : none;" class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Liqueur
        </a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">

									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a style="text-decoration : none;" class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Mixer
        </a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">

									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
			<hr style="border-color: #FFF;">
			<div class="col-md-4">
				<div align="center" class="row">
					<div style="width:200px;">
						<img class="img-responsive" src="images/jackdaniels.jpg" />
					</div>
				</div>
				<br>

			</div>
		</div>
	</div>



	{{template "footer" .}}

	<!-- /.container -->
	</div>


</body>

</html>
{{end}}
