{{define "footer"}}
<!--Close the navbar container for doing loader toggles-->
</div>
<!-- Footer -->
<!--<footer>-->
	<hr style="border-color: #FFF;">

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p align="center">Follow Us:&nbsp;
                    <a target="_blank" style="text-decoration : none; font-weight: bold;" href="https://www.facebook.com/commonwealthcocktail" title="Facebook">
                        <i style="color: black;" class="fa fa-facebook"></i>
                    </a>
                    &nbsp;
                    <a target="_blank" style="text-decoration : none; font-weight: bold;" href="https://github.com/RoughIndustries/com.roughindustries.cocktails_go" title="GitHub">
                    	<i style="color: black;" class="fa fa-github"></i>
                    </a>
                    &nbsp;
                    <a target="_blank" style="text-decoration : none; font-weight: bold;" href="https://twitter.com/CommonCocktails" title="Twitter">
                    	<i style="color: black;" class="fa fa-twitter"></i>
                    </a>
                    &nbsp;
                    <a target="_blank" style="text-decoration : none; font-weight: bold;" href="https://www.pinterest.de/travishdc/commonwealth-cocktails/" title="Twitter">
                    	<i style="color: black;" class="fa fa-pinterest"></i>
                    </a>
                </p>
            </div>
            <div class="col-lg-4">
                <p align="center">About & Contact:&nbsp;
                </p>
            </div>
            <div class="col-lg-4">
                <p align="center">Terms & Policies:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr />
                <p align="center" style="font-family: 'Poiret One';">Copyright &copy; Commonwealth Cocktails 2016. All Rights Reserved</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
<!--</footer>-->
{{end}}
 