{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

<!--	{{template "head" .}} -->
<meta name="description" content="Website for distillers" />
<meta property="og:title" content="Website for distillers | Why choose us? | www.commonwealthCocktails.com" />
<meta name="description" content="Any distiller can simply use our custom design to get their website online. It comes Android and iOS App ready, which means your customers can download your app." />
<meta property="og:description" content="Any distiller can simply use our custom design to get their website online. It comes Android and iOS App ready, which means your customers can download your app." />
<meta property="og:site_name" content="Commonwealth Cocktails at CommonwealthCocktails.com" />
<meta property="og:name" content="Commonwealth Cocktails at CommonwealthCocktails.com" />
<meta name="keywords" content="website for distillers" />


</head>

<body>
	
{{template "navbar" .}}

    <div class="container">

		<div class="row">
			<div class="page-header">
				<h1 align="center">Website for distillers</h1>
			</div>
			<div class="col-md-12">
				<div class="row">
				    <div class="col-md-2"></div>
				    <div class="col-md-8">
                    <h2 style="font-family: 'Arvo',serif;">Why use our website to show off your brand?</h2>
                    <p>Every year, distillers open up across the world, offering new varieties and flavors of our favourite spirits. Just as you are experts in the field of distillery, our websites are expertly geared to getting you the most exposure for your brand at minimal cost. </p>
                    <h3>What can you expect?</h3>
                    <ul>
                    	<li>A ready-to-go website which displays all necessary pages from your brands to your "about" and "contact" page</li>
                    	<li>An out of the box Andriod and iOS ready App for you and your customers to immediately download. <a href="/www/static/androidandiosapps/" target="_blank">click here for more info</a></li>
                    	<li>You send us any photos and information and we get that all onto your website as part of the setup</li>
                    	<li>A list of cocktails along with images, all of which can be displayed only with your brand in the ingredients list</li>
                    	<li>Affiliate linking to Amazon displayed whereever your brand is mentioned</li>
                    	<li>The ability to make flyers, e-books and other marketing material (e.g. posters, leaflets) to be printed for sale purposes or sent out in marketing campaigns</li>
                    	<li>Update events quickly on your website with no fuss via Google Calendar</li>
                    	
                    </ul>
                    <h4>What else can we do for you?</h4>
                    <p>One of our goals at www.commonwealtcocktails.com is to list all cocktails known to man with a recipe and a photo. We know this is a difficult goal and will take us many years to achieve. Furthermore, it means that we must post daily recipes along with photos to our website. As our customer, you can also have all of these recipes (or just the ones that apply to your liquors) along with images. This will enable you to constantly post new content on your website thus keeping it alive and not static </p>
                    <p>Do you have more questions? Then contact us at <a href="mailto:dan_adams@roughindustries.com?subject=I would like to know more&cc=travishdc@roughindustries.com">dan_adams@roughindustries.com</a> or via our <a href="https://www.facebook.com/commonwealthcocktail" target="_blank">Facebook</a> page.</p>
                    </div>
                    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</div>

	<hr style="border-color: #FFF;">
	<!-- Footer -->
    {{template "footer" .}}
	
	
</body>

</html>
{{end}}
